.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold; 
}
h1  {
    text-align: center; 
    margin: 0; 
}
h2 {
    text-align: center; 
    margin: 0; 
}

h1 {
    margin-bottom: 20px; 
}

h2 {
    margin-bottom: 40px; 
}
.carousel-inner img {
    max-height: 500px; 
   
}

main{
    background-color:rgb(10, 9, 9);
    color: rgb(255, 245, 245); 
    border: 5px solid rgb(253, 248, 248); 
    padding: 20px; 
    border-radius: 5px; 
}
footer .p{
    text-align: center;

}
footer .logo {
    text-align: center; 
    padding: 20px; 
    
  }
  
  footer .logo img {
    border-radius: 50%;
  }

      
  
  